/**
 * home page
 */


.home-header {
  color: rgb(255, 0, 0);
  text-align: center;
}


.home-page {
   padding: 150px;
   font-size: 100;
   font-weight: 300;
}

.home-content {
  text-align: center;
}
